<div *ngIf="hero">
  <div class="row">
    <div class="col-lg">
      <div class="col">
        <h2>{{hero.name | uppercase}} Details</h2>
        <div>
          <span>id:</span> {{hero.id}}
        </div>
        <div>
          <span>name:</span> {{hero.name}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <label>
        Name:
      </label>
    </div>
    <div class="col-md-6">
      <input class="form-control" [(ngModel)]="hero.name" placeholder="name"/>
    </div>
    <div class="col-md-5">
      <button class="btn-success btn" (click)="saveHero()">Save</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <button class="btn btn-success" (click)="getBack()">Go Back</button>
  </div>
</div>
