<nav class="navbar navbar-expand navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Learning Angular</span>
  <span class="pull-right">
    <app-notifications></app-notifications>
  </span>
</nav>
<div class="jumbotron">
  <h1>{{title}}</h1>
</div>
<nav class="navbar navbar-expand navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/heroes">Heroes</a>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
    <div class="col-lg-4">
      <app-messages></app-messages>
    </div>
  </div>
</div>
